{% extends "base.html" %}
{% from "workspace/_nav.html" import workspace_nav %}
{% block title %}{{ repo.name }} - Commit history{% endblock %}
{% block content %}
  {{ workspace_nav(project, repo, 'log') }}
  <h1>{{ repo.name }} - Commit History</h1>


  {% if commits %}
    <ul class="commit-list">
      {% for commit in commits %}
        <li class="commit-item">
          <div class="commit-header">
            <code class="commit-hash">{{ commit.short_hash }}</code>
            <span class="commit-message">{{ commit.message }}</span>
          </div>
          <div class="commit-meta">
            <span class="commit-author">{{ commit.author }}</span>
            <span class="commit-date">{{ commit.date }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No commits to display.</p>
  {% endif %}
{% endblock %}
